* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3c3a39;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  height: 40px;
}

.name {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.tool_bar {
  color: #acb7c3;
  display: flex;
  margin-left: 5px;
}

.middle_area {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-color: #1c1a19;
  background-position: bottom right;
  padding: 12px 24px;
}

.abt_me {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 460;
  font-size: 63px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 100px;
}

.software_dev {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 20px;
}

.headline {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  margin-top: 20px;
  width: 75vw;
}

.list_img {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 80px;
}
.recent_works {
  background-color: #ffffff;
  padding-left: 12px 12px;
}
.works_mrks {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #1C1A19;
  display: flex;
  padding-top: 100px;
}
 
hr {
  margin-top: 50px;
}

.recent_back_image {
  width: 500px;
  padding-top: 100px;
}

.work_mps {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  color: #091e42;
  padding-top:18px;
  padding-bottom: 18px; 
}

.works_paragraphs {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
  margin-bottom: 5px;
}

.recent_works_list {
  display: flex;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
  margin: 15px 12px;


}

.list_c {
  border: 1px solid #8993a4;
  padding: 5px;
 
}
  
.list_h {
  border: 1px solid #8993a4;
}

.list_b {
  border: 1px solid #8993a4;;
}

.list_r {
  border: 1px solid #8993a4;
}
 
.button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 15px;
}

.prof_arts {
  background-image: url("images/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  background-color:#e5e5e5;

}

.heading {
  font-family:'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 15px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding: 10px 12px 12px 10px;
}
  
.lang_ht {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}


.lang_bo {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_ru {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 1000px;
}

.prof_arts {
  background-image: url("images/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  background-color:#e5e5e5;
}

.heading {
  font-family:'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 15px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding: 10px 12px 12px 10px;
}
  
.lang_ht {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}


.lang_bo {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_ru {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 15px;
  width: 1000;
}
.prof_arts {
  background-image: url("images/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  background-color:#e5e5e5;
}

.heading {
  font-family:'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 15px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding: 10px 12px 12px 10px;
}
  
.lang_ht {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}


.lang_bo {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_ru {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 15px;
  width: 1000;
}

.prof_arts {
  background-image: url("images/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  background-color:#e5e5e5;
}

.heading {
  font-family:'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 15px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding: 10px 12px 12px 10px;
}
  
.lang_ht {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}


.lang_bo {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_ru {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 15px;
  width: 1000;
}

.prof_arts {
  background-image: url("images/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  background-color:#e5e5e5;
}

.heading {
  font-family:'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 15px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding: 10px 12px 12px 10px;
}
  
.lang_ht {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}


.lang_bo {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_ru {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80px;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 15px;
  width: 372px 48px;
  height: 24px
  
}

.prof_arts {
  background-image: url("images/Img\ Placeholder\ \(1\).png");
  background-repeat: no-repeat;
  background-color:#e5e5e5;
}

.heading {
  font-family:'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 15px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding: 10px 12px 12px 10px;
}
  
.lang_ht {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_bo {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.lang_ru {
  border: 1px solid violet;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-repeat: no-repeat;
  background: size 50px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 25px;
  border: none;
  margin-top: 15px;
  text-align: center;
  width: 372px 48px;
  height: 24px
}

.about_me {
  background-color: #1c1a19;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about_Head {
  color: #ff6b00; 
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin-top:100px;
  padding-top: 100px;
}

.about_para{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F4F5F7; 
  padding-top: 12px;
}
.get-rusm-button {
  background: #FF6B00;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 25px;
}

hr {
  margin-top: 2px;
  width: 700px;
}

.about_me_list {
  text-align: center;
  color: #ffffff;
}

.fram_list {
  display: flex;
}



